[buildout]
extensions = buildout.dumppickedversions
develop = parts/mercurial-recipe
	.
extra-paths =
parts =
    myGeventUtil
    mynose
    scripts
eggs =
    nucleon
    GeventUtil
    nose
versions = versions
newest = false



# update with versions you want to freeze on
[versions]

[python]
#executable = /usr/local/bin/python


# it creates appropriate entry_point scripts as defined in eggs setup.py
[scripts]
recipe = zc.recipe.egg
extra-paths = ${buildout:extra-paths}
eggs =
     ${buildout:eggs}
dependent-scripts = true
interpreter = python


# let's download specific version of nosetests and register it as an egg
# all eggs in buildout.eggs are than parsed by scripts section to generate entry point scripts for them
[mynose]
recipe = mercurialrecipe
repository = https://bitbucket.org/jpellerin/nose
rev = 1633db09a060
as_egg = true


# let's download GeventUtil and register it as an egg
# gives us an access to gex command
# all eggs in buildout.eggs are than parsed by scripts section to generate entry point scripts for them
[myGeventUtil]
recipe = zerokspot.recipe.git
repository = https://github.com/SurveyMonkey/GeventUtil
as_egg = true
