# Section headers define environments so you can have production, staging, qa
# etc. The 'default' section name is intended for the development environment

[default]

# Example database configuration line. Enter the username, password, 
# host and database name in a connection string like the one below.

# database = postgres://username:password@host:5432/databasename

# Example AMQP configuration lines. Enter the username, password, host
# and virtual host (topic) in a connection string like the one below.
# Additionally provide number of entries in connection pools
# Configuration is separate for both publish and listening.

# amqp url format:
# amqp://username:password@host:1234/vhost
# default user = password = guest
# default host = localhost
# default port = 5672
# default vhost = "/"

# amqp_publish_url = amqp:///
# amqp_publish_pool_size = 5
# amqp_listen_url = amqp:///
# amqp_listen_pool_size = 5
